<h1>商品一覧（全x件）</h1>
 <% @genres.each do |genre| %>
 <%= link_to genre.name, public_items_path(genre_id: genre.id) %><br>
 <% end %>
 <% @items.each do |item| %>
 <%= link_to public_item_path(item) do %>
 <%= image_tag item.get_image(100,100) %><br>
 <% end %>
 <%= item.name %><br>
 <%= item.price %><br>
 <% end %>
